@charset "utf-8";

/* 1. 广告相关的样式 */
#header .ad {
  overflow: hidden;
  min-width: 100px;
}

#header .ad img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
} 

/* 2. 导航相关的样式 */
#header .nav {
  height: 30px;
  line-height: 30px;
  background-color: #000;
}

#header .nav-left .welcome {
  float: left;
}

#header .nav-left .account {
  float: left;
}

#header .nav a {
  color: #999;
  margin-left: 30px;
  display: inline-block;
  height: 30px;

}

#header .nav a:hover {
  color: #fff;
}

#header .nav-right .group1,
#header .nav-right .group2 {
  float: right;
}

#header .nav-right .group2 {
  margin-left: 20px;
}

#header .nav-right .group2 a {
  margin-left: 0;
  padding: 0 12px;
}

#header .nav-right .group2 a:hover {
  background-color: #fff;
  color: #ff1e32;
}

#header .nav-right .group2 i {
  width: 0;
  height: 0;
  position: relative;
  top: 2px;
  display: inline-block;
  border: 4px solid #999;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;

  transition: transform .3s ease-in;
  transform-origin: center 2px;
}

#header .nav-right .group2 a:hover i {
  border-top-color: #ff1e32;
  transform: rotate(180deg);
}

/* 3. logo-search-cart 相关样式 */
#header .operation {
  height: 100px;
  position: relative;
  background-color: #fff;
}

#header .operation .wrap {
  height: 100px;
}

#header .operation img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

#header .operation .search {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  float: right;
  width: 404px;
  padding: 6px 39px 6px 30px;
  border: 2px solid #ff2337;
  border-radius: 40px;
  background-color: #fff;
}

#header .operation .search input {
  height: 24px;
  width: 400px;
}

#header .operation .search input::placeholder {
  font-style: italic;
}

#header .operation .search i {
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 14px;
  height: 14px;
  background-image: url("http://haitao.nos.netease.com/e23038b8-e21b-4430-81f7-b036fc12f0af_979_797.png");
  background-position: -466px -667px;
}

#header .operation .search span {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 60px;
  height: 40px;
  border-radius: 40px;
  background: url("https://haitao.nos.netease.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?imageView&thumbnail=20x0&quality=85&v=1") 
  no-repeat center #ff2337;
}

#header .operation .cart {
  float: right;
  display: block;
  margin: 0 70px 0 40px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 106px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 2px solid #ff1e32;
  border-radius: 36px;
  background-color: #fff;
}

#header .operation .cart i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("https://haitao.nos.netease.com/14f1eb69-f7c0-4d4f-95d8-4aee8e2e1f1b.png?imageView=&quality=90&thumbnail=20x0");
  margin-right: 2px;
  margin-bottom: -5px;
}

#header .operation .cart span {
  font-size: 14px;
}

#header .operation .cart:hover {
  background-color: #fff4f5;
}